<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reloj negro Fossil | lFie store</title>

<!------ Google fonts ------>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Poppins:wght@100;200;300;400;500;700&family=Prompt:wght@300;500;700&display=swap" rel="stylesheet">

<!------ Iconos ------>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<!------ CSS ------>
    <link rel="stylesheet" href="../../../css/estilos.css">

</head>
<body>
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="../../../assets/img/logo.png" alt="logo" width="125px">
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="../../../index.html">Inicio</a></li>
                        <li><a href="../../productos.html">Productos</a></li>
                        <li><a href="">Sobre nosotros</a></li>
                        <li><a href="">Contacto</a></li>
                        <li><a href="">Cuenta</a></li>
                    </ul>
                </nav>
                <img src="../../../assets/img/cart.png" alt="" width="30px" height="30px">
                <img src="../../../assets/img/menu.png" alt="" class="menu-icon" onclick="menutoggle()">
            </div>
        </div>

<!-- Main -->

<!-- Producto Principal -->
<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="../../../assets/img/product-8.jpg" alt="" width="100%" id="productImg">

                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="../../../assets/img/product-8.jpg" alt="" class="smallImg">
                    </div>
                    <div class="small-img-col">
                        <img src="../../../assets/img/product-8.jpg" alt="" class="smallImg">
                    </div>
                    <div class="small-img-col">
                        <img src="../../../assets/img/product-8.jpg" alt="" class="smallImg">
                    </div>
                    <div class="small-img-col">
                        <img src="../../../assets/img/product-8.jpg" alt="" class="smallImg">
                    </div>
                </div>






        </div>
        <div class="col-2">
            <p>Inicio / Accesorios</p>
            <h1>Reloj negro Fossil</h1>
            <h4>$27900</h4>
            <h3>Detalles del producto <i class="fa fa-indent"></i></h3>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem qui impedit porro saepe aperiam corporis mollitia illum molestiae recusandae aspernatur, vitae nemo non, ipsum, iste at. Vel omnis placeat voluptas atque qui dolor ipsam accusamus!</p>
        </div>
    </div>
</div>



<div class="small-container">

    <div class="row">
        <div class="col-4">
            <a href="reloj-cronometro.html">
                <img src="../../../assets/img/product-9.jpg" alt="">
            </a>
            <h4>Reloj con cronometro</h4>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <p>$13000</p>
        </div>
        <div class="col-4">
            <a href="../zapatillas/zapatillas-camufladas-hrx.html">
                <img src="../../../assets/img/product-10.jpg" alt="">
            </a>
            <h4>Zapatillas camufladas HRX</h4>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
            </div>
            <p>$19800</p>
        </div>
        <div class="col-4">
            <a href="../zapatillas/zapatillas-grises-roadster.html">
                <img src="../../../assets/img/product-11.jpg" alt="">
            </a>
            <h4>Zapatillas grises</h4>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
            </div>
            <p>$18500</p>
        </div>
        <div class="col-4">
            <a href="../pantalones/jogging-negro-nike.html">
                <img src="../../../assets/img/product-12.jpg" alt="">
            </a>
            <h4>Jogging negro Nike</h4>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <p>$9300</p>
        </div>
    </div>


</div

<!---------- Footer ---------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Descarga nuestra App!</h3>
                <p>Descargar App para Android y IOS mobile</p>
                <div class="app-logo">
                    <img src="../../../assets/img/play-store.png" alt="">
                    <img src="../../../assets/img/app-store.png" alt="">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="../../assets/img/logo-white.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quo optio perferendis expedita, veritatis dolores!</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful links</h3>
                <ul>
                    <li>Cupones</li>
                    <li>Blog</li>
                    <li>Politica</li>
                    <li>Afiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Siguenos</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright"> Copyright 2022 - FABDesing</p>
    </div>
</div>

<script src="../../../js/menuDesplegable.js"></script>
<script src="../../../js/prodDetalles.js"></script>

</body>
</html>